<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bug Checker</title>
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" />
</head>
<body>

    <h1>SafeStore Premium</h1>

    <h2>Malware Checker</h2>
    <p>Select a file to upload, and we will check if the file is safe or contains a hidden virus</p>

    <br>
    <form action = "/viruscheck" method = "POST" 
         enctype = "multipart/form-data">
         <input accept=".txt" type = "file" name = "file" />
         <input type="submit" name="virus_check" value="Check File"/>
    </form>

    <h2>File Store</h2>
    <p>Safely store and encrypt your files with us.</p>

    <br>
    <form action = "/storefile" method = "POST" enctype = "multipart/form-data">
         <input accept=".txt" type = "file" name = "file" />
         <input type="submit" name="file_store" value="Store File"/>
    </form>

    <h2>File Retrieve</h2>
    <h3>File Retrieval Results</h3>
    {% if found %}
        <h3>Success! Click here to download {{filename}}</h3>
        <form method="POST" action="/download">
            <input type="hidden" id="retrieved_file" name="retrieved_file" value="{{retrieved_file}}">
            <input type="hidden" id="filename" name="filename" value="{{filename}}">
            <button type="submit">Download File</button>
          </form>
    {% else %}
        <h3>Whoops!</h3>
        <p>You don't have a stored file with that filename!</p>
        <p>Please note that filenames are case-sensitive. Please also <b>include</b> the file extension (e.g. holiday_card.txt).</p>
    {% endif %}
    <h3>Retrieve Another File</h3>
    <p>Securely retrieve your files.</p>

    <form action="/retrievefile" method = "POST">
        <input type="text" name="fileName" id="fileName" placeholder="Enter file name" />
        <button type="submit">Submit</button>
    </form>

   <p>
    <a href="{{ url_for('home') }}">Home</a> 
    <a href="{{ url_for('logout') }}">Logout</a>

</p>

</body>
</html>