<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bug Checker</title>
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" />
</head>
<body>

    <h1>SafeStore Premium</h1>

    <h2>Malware Checker</h2>
    <h3>We received your file!</h3>
    <p>For the file: {{filename}}</p>
    {% if is_virus %}
        <p style="color:red; font-size: xx-large; font-weight: bolder;">{{res_text}}</p>
    {% else %}
        <p><i>{{res_text}}</i></p>
    {% endif %}

    <h3>Scan Another File</h3>
    <p>Select a file to upload, and we will check if the file is safe or contains a hidden virus</p>

    <br>
    <form action = "/viruscheck" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type="submit" name="virus_check" value="Check File"/>
    </form>

    <h2>File Store</h2>
    <p>Safely store and encrypt your files with us.</p>

    <br>
    <form action = "/storefile" method = "POST" enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type="submit" name="file_store" value="Store File"/>
    </form>

    <h2>File Retrieve</h2>
    <p>Securely retrieve your files.</p>

    <form action="/retrievefile" method = "POST">
        <input type="text" name="fileName" id="fileName" placeholder="Enter file name" />
        <button type="submit">Submit</button>
    </form>

   <p>
    <a href="{{ url_for('home') }}">Home</a> 
    <a href="{{ url_for('logout') }}">Logout</a>

</p>

</body>
</html>